<div>
  <h1>Journey List</h1>
  <div *ngIf="journeyResult$.length == 0">
    <p>{{ errorMessage }}</p>
  </div>
  <div *ngIf="journeyResult$.length > 0">
    <h2>Flight Information</h2>
    <ul>
      <li *ngFor="let flight of journeyResult$">
        <p>Origin: {{ flight.origin }}</p>
        <p>Destination: {{ flight.destination }}</p>
        <p>Price: {{ getPrice(flight.price) }}</p>
        <div *ngIf="flight.transport">
          <p>Transporter: {{ flight.transport.flightCarrier }}</p>
          <p>Flight Number: {{ flight.transport.flightNumber }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>

