.journey-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 10px;
  padding: 10px;
  padding-top: 0%;
}

.journey-list li{
  text-align: center;
  padding-top: 0;
}

.errorMessage{
  font-size: 60px;
  color: aliceblue;
}

h1{
  color: aliceblue;
}


