.navbar {
  background-color: #00000085;
}

.navbar-brand {
  font-size: 20px;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 16px;
}

.nav-link.active {
  color: #42b983;
}

#navbarNav{
  display: flex;
  padding-left: 75%;
}
