.navbar {
  background-color: #00000085;
  -webkit-box-shadow: 0px 12px 5px 0px rgba(255,117,117,1);
  -moz-box-shadow: 0px 12px 5px 0px rgba(255,117,117,1);
  box-shadow: 0px 12px 5px 0px rgba(255,117,117,1);
}

.navbar-brand {
  font-size: 20px;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 16px;
}

.nav-link.active {
  color: #42b983;
}

#navbarNav{
  display: flex;
  padding-left: 75%;
}
